@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

@layer base {
    *{
        font-family : 'Abyssinica SIL', 'serif';
    }
    body {
        @apply text-gray-900 dark:text-gray-50 bg-gray-200 dark:bg-gray-900
    }
}

@layer components {
    .layout-link {
        @apply p-2 m-3 hover:border-b-2 hover:border-b-gray-900 dark:hover:border-b-gray-50 text-xl font-medium duration-100 ease-in;
    }

    .blogContent > * {
        @apply w-96 text-justify md:w-[32rem] mx-auto pb-2
    }
    .blogContent > h2 {
        @apply text-2xl font-medium underline underline-offset-4 decoration-gray-400 decoration-4 capitalize
    }
    .blogContent > p {
        @apply first-letter:text-xl first-letter:font-bold first-letter:text-gray-700 dark:first-letter:text-gray-200 first-letter:ml-4
    }
    .blogContent > ul {
        @apply pl-3 marker:text-gray-700 list-disc dark:marker:text-gray-400
    }
    .blogContent > p > code {
        @apply px-1 bg-black text-white dark:bg-white dark:text-black
    }
}